In [27]:
import pandas as pd
df = pd.read_csv('balance.txt',sep=' ')

# Select the 'Limit' and 'Rating' columns of the first five observations
df_selected = df[['Limit', 'Rating']]
print (df_selected.head())

   Limit  Rating
0   3606     283
1   6645     483
2   7075     514
3   9504     681
4   4897     357

In [28]:
# Select the first five observations with 4 cards
df_fourcards = df_selected[df['Cards'] == 4].head() # 
print (df_fourcards)

    Limit  Rating
2    7075     514
5    8047     569
10   8117     589
20   2860     235
29   5611     411

In [52]:
# Sort the observations by 'Education'. Show users with a high education value first.
df_education = df.sort_values(by= 'Education', ascending = False)
print (df_education)

       Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
60   13.297283   35.510   5198     364      2   35         20  Female      No
51   13.010768   39.705   3969     301      2   27         20    Male      No
378  10.140785   19.349   4941     366      1   33         19    Male      No
247  13.774598   36.364   2220     188      3   50         19    Male      No
238  11.079748   26.532   2910     236      6   58         19  Female      No
..         ...      ...    ...     ...    ...  ...        ...     ...     ...
284   8.298482   14.711   2047     167      2   67          6    Male      No
368  19.555838   89.000   5759     440      3   37          6  Female      No
224  25.262836  121.709   7818     584      4   50          6    Male      No
254  13.997826   36.508   6386     469      4   79          6  Female      No
30   10.201523   34.142   5666     413      4   47          5  Female      No

    Married         Ethnicity
60       No             Asian
51      Yes  African American
378     Yes         Caucasian
247      No         Caucasian
238     Yes         Caucasian
..      ...               ...
284     Yes         Caucasian
368      No         Caucasian
224     Yes         Caucasian
254     Yes         Caucasian
30      Yes         Caucasian

[400 rows x 11 columns]

In [ ]:
#This selects all rows and columns in the data frame
df.iloc[:,:]

In [ ]:
# This selects the 6th row (0 index, 5) to end row and the 6th collumn to end collumn
df.iloc[5:,5:]

In [ ]:
#This selects all of the rows and the first collumn starting from 0 column (0 index notation)
df.iloc[:,0]

In [ ]:
# Selects the tenth row (Index 9) and all of the columns from the dataframe
df.iloc[9,:]